<div style="width: 100%">
  <form [formGroup]="myForm">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput required [formControl]="firstName">
        <mat-error *ngIf="firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput required [formControl]="lastName">
        <mat-error *ngIf="lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email </mat-label>
        <input matInput [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Postal Code</mat-label>
        <input matInput [formControl]="postalCode" required (input)="onPostalCodeChange()">
        <mat-error *ngIf="postalCode.invalid">{{getPostalCodeErrorMessage()}}</mat-error>
      </mat-form-field>

  </form>
  <div style="width: 100%">
    <h4>Representatives</h4>
  </div>



  <mat-form-field style="width: 100%">
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize">{{letterText}}</textarea>
  </mat-form-field>
</div>
